{
  "mcpServers": {
    "rig": {
      "command": "ssh",
      "args": [
        "-T", "rig",
        "C:/Users/mcp-rig/mcp-server/.venv/Scripts/python.exe -u C:/Users/mcp-rig/mcp-server/src/server/server.py"
      ]
    },
    "rig-build-2": {
      "command": "ssh",
      "args": [
        "-T", "rig-build-2",
        "C:/Users/mcp-rig/mcp-server/.venv/Scripts/python.exe -u C:/Users/mcp-rig/mcp-server/src/server/server.py"
      ]
    }
  }
}